@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));

@theme {
  --color-email-bg: hsl(217, 28%, 15%);
  --color-main-bg: hsl(218, 28%, 13%);
  --color-footer-bg: hsl(216, 53%, 9%);
  --color-testimonials-bg: hsl(219, 30%, 18%);

  --color-email-bg-light: hsl(217, 100%, 97%);
  --color-main-bg-light: hsl(218, 100%, 99%);
  --color-footer-bg-light: hsl(216, 50%, 90%);
  --color-testimonials-bg-light: hsl(219, 40%, 92%);

  --color-cta-cyan: hsl(176, 68%, 64%);
  --color-cta-blue: hsl(198, 60%, 50%);
  --color-error: hsl(0, 100%, 63%);

  --color-custom-white: hsl(0, 0%, 100%);
  --color-lightmode: hsl(218, 28%, 13%);

  --font-primary: "Raleway", serif;
  --font-body: "Open Sans", serif;
}

li {
  @apply cursor-pointer transition-all ease-in-out duration-500;
}

button {
  @apply font-primary cursor-pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  @apply font-primary font-bold text-custom-white light:text-lightmode;
}

p,
ul {
  @apply text-custom-white/70 light:text-lightmode/70 text-sm font-body xl:text-base;
}
